#felso{
    height: 40%;
    background-image: url(kepek/hatter.jpg) ;
}



#also{
    background-color: rgb(36, 33, 33);
    color: white;
}



#belso{
    width: 60%;
    background-color: white;
}
h1{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 100px;
}
h2{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 100px;
    padding-bottom: 400px;
}



